.border {
  border: 1px solid;

  &-b {
    border-bottom: 1px solid;
  }

  &-gray {
    border-color: #DCDCDC;
  }

  &-l-2 {
    border-left: .5rem solid;
  }

  &-primary {
    border-color: $primary;
  }
}

.rounded {
  border-radius: $defaultSize+px;
}
