.logo {
  width: 80px;
  object-fit: cover;
  padding-top: 11.5px;
  padding-bottom: 11.5px;
}

.menu {
  font-size: 40px;
  &:hover {
    transform: scale(1.2);
  }
}

.icon {
  font-size: 48px;
  @include pad {
    font-size: 40px;
  }
  @include mobile {
    font-size: 24px;
  }
  &:hover {
    transform: scale(1.2);
  }
}

.link {
  &--underline {
    position: relative;
    &::after {
      position: absolute;
      width: 100%;
      top: 100%;
      left: 0;
      content: '';
      border-bottom: solid 2px $white;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s ease-in-out;
    }
    &:hover::after,
    :focus::after {
      transform: scaleX(1);
    }
    &--primary {
      position: relative;
      &::after {
        position: absolute;
        width: 100%;
        top: 100%;
        right: 0;
        content: '';
        border-bottom: solid 2px $secondary;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease-in-out;
      }
      &:hover::after,
      :focus::after {
        transform: scaleX(1);
      }
    }
  }
  &--block::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &--color {
    &:hover {
      color: $secondary;
    }
  }
}

.pagination-item {
  border: 1px solid $gray-dark;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  &--active {
    background-color: $black;
    color: $white;
  }
  &[disabled='true'] {
    background-color: #f2f2f2;
    color: $gray-dark;
  }
  &:nth-child(n + 2) {
    &:hover {
      background-color: $black;
      color: $white;
    }
  }
}

.transition {
  transition: all 0.3s ease-in-out;
}

.overflow-hidden {
  overflow: hidden;
}

.grid--address {
  display: grid;
  grid-auto-flow: row;
  grid-gap: .5rem;
}