@for $i from 1 through 4 {
.banner {
  height: 296px;
    &--#{$i}{
      background-image: url('../images/product-header-#{$i}.png');
    }
  }
}
@include mobile {
  .banner {
    height: 136px;
  }
}

.tab {
  &:nth-child(n+2) {
    &:hover {
      border-color: $primary;
      color: $primary;
    }
  }
  &--active {
    position: relative;
    &::after {
      position: absolute;
      content: '';
      top: 100%;
      left: 0;
      width: 100%;
      height: 8px;
      transform: translateY(-100%);
      background-color: $primary;
    }
  }
  &--sunglasses {
    &:nth-child(1),&:nth-child(3) {
    &:hover {
      border-color: $primary;
      color: $primary;
    }
  }
  }
}

.product-color-selector {
  height: 24px;
  width: 24px;
}

.product--card {
  flex: 0 0 19.125rem;
  @include pad {
    flex: 0 0 21rem;
  }
  @include mobile {
    flex: 0 0 100%;
  }
}

.product--card--sunglasses {
  flex: 0 0 26rem;
  @include pad {
    flex: 0 0 21rem;
  }
  @include mobile {
    flex: 0 0 100%;
  }
}

.product-img {
  height: 10.5rem;
  @include mobile {
    height: 14rem;
  }
}

.bg-brown {
  background-color: $brown;
}

.bg-brown-light {
  background-color: $brown-light;
}