.salesroom--card {
  flex: 0 0 26rem;
  @include pad {
    flex: 0 0 21.0625rem;
  }
  @include mobile {
    flex: 0 0 100%;
  }
  &--image {
    width: 100%;
    height: 14rem;
    object-fit: cover;
  }
}

.select {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.75rem;
}

.btn-text {
  font-size: 1.1875rem;
  left: 1.42105263;
}

.gmap {
  width: 100%;
  height: 100%;
  @include pad {
    height: 25.875rem;
  }
  @include mobile {
    height: 13rem;
  }
}