<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./assets/style/all.css" />
  </head>

  <body>
    <header class="bg-primary header">
      <div class="container relative flex justify-between items-center max-w-sm-full">
        <h2 class="py-1">
          <a href="./">
            <img src="./assets/images/logo-white.png" alt="" class="logo" />
          </a>
        </h2>
        <nav class="text-white flex gap-16 nav--list text-md none-sm">
          <a href="./product.html" class="py-1 link--underline">系列鏡框</a>
          <a href="./salesroom.html" class="py-1 link--underline">門市據點</a>
          <a href="./blog.html" class="py-1 link--underline">部落格</a>
          <a href="./faq.html" class="py-1 link--underline">常見問題</a>
        </nav>
        <div class="none block-sm">
          <button class="text-white menu transition">
            <span class="material-symbols-outlined text-sp"> menu </span>
          </button>
        </div>
      </div>
    </header>

    <%- contents %>

    <footer class="bg-primary text-white">
      <div class="container pt-12 pb-8">
        <div class="flex flex-col flex-sm-row border-b border-white pb-8 pb-sm-6 mb-8 mb-sm-4">
          <nav class="flex justify-between order-sm-1">
            <div class="flex none-sm justify-between items-center gap-12">
              <a href="./" class="link link--underline py-1">首頁</a>
              <a href="./product.html" class="link link--underline py-1">系列鏡框</a>
              <a href="./salesroom.html" class="link link--underline py-1">門市據點</a>
              <a href="./blog.html" class="link link--underline py-1">部落格</a>
              <a href="./faq.html" class="link link--underline py-1">常見問題</a>
            </div>
            <div class="flex justify-between gap-8 gap-sm-2">
              <a href="">
                <i class="bx bxl-facebook-circle transition icon"></i>
              </a>
              <a href="">
                <i class="bx bxl-instagram transition icon"></i>
              </a>
              <a href="">
                <i class="fa-brands fa-line transition icon"></i>
              </a>
            </div>
          </nav>
          <address class="order-sm-0 flex flex-col items-start gap-2 w-max">
            <a class="link--underline flex items-center" href="tel:0800-000-000">
              <span class="material-symbols-outlined icon mr-4 mr-sm-2"> call </span>
              <span class="text-2xl text-md-lg text-sm-base">0800-000-000</span>
            </a>
            <a class="link--underline flex items-center" href="mailto:glasses@business.com">
              <span class="material-symbols-outlined icon mr-4 mr-sm-2"> mail </span>
              <span class="text-2xl text-md-lg text-sm-base">glasses@business.com</span>
            </a>
          </address>
        </div>
        <div class="flex flex-sm-col gap-sm-2 justify-between">
          <p>Copyright © 2020 Glasses.All rights reserved.</p>
          <div class="flex flex-sm-col justify-between gap-12 gap-sm-2">
            <a href="#" class="link--underline">隱私權政策</a>
            <a href="#" class="link--underline">服務條款</a>
          </div>
        </div>
      </div>
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>
</html>
